<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "mt-5 " }) do |f| %>
<div class="container">
  <h4 class="facebook-color"><%= t('.edit ') + resource_name.to_s.humanize %></h4>
  <hr>
  <div class="row justify-content-center mt-3">
    <div class="col-md-5">
      <div class="avatar-upload mt-140">
        <div class="avatar-edit">
          <%= f.file_field :profile_picture , id: "imageUpload" %>
          <label for="imageUpload"></label>
        </div>
        <div class="avatar-preview">
          <%= tag.div id: "imagePreview", style: "background-image: url(#{resource.profile_picture.url});" %>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="">
        <% if resource.errors.any? %>
        <div class="alert alert-dark">
          <%= render "devise/shared/error_messages", resource: resource%>
        </div>
        <% end %>

        <div class="form-group row mb-4">
          <label class="col-sm-4 col-form-label"></label>
          <h5 class="facebook-color col-sm-6"><%= t('.basic_information')%></h5>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-form-label"><%= t('email') %></label>
          <div class="col-sm-6">
            <%= f.email_field :email, readonly: true, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4"><%= t('first_name') %></label>
          <div class="col-sm-6">
            <%= f.text_field :first_name, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4"><%= t('last_name') %></label>
          <div class="col-sm-6">
            <%= f.text_field :last_name, class: "form-control" %>
          </div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group row mb-4">
          <label class="col-sm-4"></label>
          <h5 class="facebook-color col-sm-6"><%= t('password') %></h5>
        </div>


        <div class="form-group row">
          <label class="col-sm-4"><%= t('current_password') %></label>
          <div class="col-sm-6">
            <%= f.password_field :current_password, class: "form-control", placeholder: t("current_password")%>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4"><%= t('new_password') %></label>
          <div class="col-sm-6">
            <%= f.password_field :password, class: "form-control", placeholder: t("new_password")%>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4"><%= t('confirmation_password') %></label>
          <div class="col-sm-6">
            <%= f.password_field :password_confirmation, class: "form-control", placeholder: t("confirmation_password")%>
          </div>
        </div>

        <div class="actions">
        </div>

        <div class="form-group row">
          <label class="col-sm-4"></label>
          <div class="col-sm-6">
            <%= f.submit t("save"), class: "btn btn-success" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
