<section class="photo-album">
  <div class="container mt-md-5">
    <div class="start">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <% if params[:type].eql?("Album") %>
            <input id="toggle-on" class="toggle toggle-left" name="toggle" value="false" type="radio" >
            <label for="toggle-on" class="btn-photo-album btn-photo"><%= link_to 'PHOTOS', root_path %></label>
            <input id="toggle-off" class="toggle toggle-right" name="toggle" value="true" type="radio" checked>
            <label for="toggle-off" class="btn-photo-album btn-album"><%= link_to 'ALBUMS', root_path(:type => 'Album') %></label>
          <% else %>
            <input id="toggle-on" class="toggle toggle-left" name="toggle" value="false" type="radio" checked>
            <label for="toggle-on" class="btn-photo-album btn-photo"><%= link_to 'PHOTOS', root_path %></label>
            <input id="toggle-off" class="toggle toggle-right" name="toggle" value="true" type="radio" >
            <label for="toggle-off" class="btn-photo-album btn-album"><%= link_to 'ALBUMS', request.query_parameters.merge({:type => 'Album'}) %></label>
          <% end %>
        </div>
      </div>
    </div>
    <hr>
    <div class="row" id="photo-content">
      <% if params[:type].eql?("Album") %>
        <%= render 'home/shared/album_index', local: {album: @albums} %>
      <% else %>
        <%= render '/home/shared/photos_index', local: {photos: @photos} %>
      <% end %>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12 text-center">
        <% if params[:type].eql?("Album") %>
          <%= paginate @albums, themes: "bootstrap4" %>
        <% else %>
          <%= paginate @photos, themes: "bootstrap4" %>
        <% end %>
      </div>
    </div>
  </div>
</section>