<nav class="navbar navbar-dark d-flex h-100">
  <a class="navbar-brand pl-3 float-left" href="#">Fotobook</a>
  <div class="input-group mb-2" style="max-width: 360px; max-height: 30px">
      <input type="text" class="form-control" placeholder="Search for photos, album">
      <div class="input-group-append">
        <button class="btn btn-light" type="button"><i class="fas fa-search facebook_color"></i></button>
      </div>
  </div>
  <div class="float-right pr-3">
    <%= link_to 'Login', new_user_session_path, class: "login_button"%>
    <%= link_to 'Sign Up', new_user_registration_path, class: "sign_up_button"%>
  </div>
</nav> 
<section class="login_panel">
    <div class="container fadeIn animated">
      <div class="row justify-content-center">
          <div class="col-sm-6 col-md-4 col-4">
              <h1 class="text-center login-title">Fotobook Login</h1>
              <div class="account-wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                    alt="">
                  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin", id: "form-signin"}) do |f| %>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
                    <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password" %>
                    <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block" %>
                    <label class="checkbox float-left need-help">
                      <% if devise_mapping.rememberable? %>
                          <%= f.check_box :remember_me%>Remember me
                      <% end %>
                    </label>
                    <a href="#" class="float-right need-help facebook_color">Need help? </a><span class="clearfix"></span>
                  <% end %>
              </div>
              <%= link_to 'Create an account', new_user_registration_path, class: "text-center new-account facebook_color"%>
          </div>
      </div>
  </div>
</section>