<%= form_for @photos, url: {controller: "photos", action: "create"} do |f| %>
<div class="container">
  <div class="row mt-5">
    <div class="col-lg-10 col-md-9 col-sm-6">
      <h4 class="facebook-color float-left pt-2">New Photo</h4>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6"><%= link_to 'Back', :back, class: "float-right btn btn-secondary btn-block"%>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group col-md-12">
        <label>Title</label>
        <%= f.text_field :title, class: "form-control", required: true %>
      </div>
      <div class="form-group col-md-12">
        <label for="inputState">Sharing Mode</label>
        <%= f.select(:is_public, [['Public', true],['Private', false]], {}, {class: "form-control"})%>
      </div>
      <div class="col-md-12">
        <div class="container">
          <div class="avatar-upload float-left">
              <%= f.file_field :path, class: "image-upload mb-2" %>
            <div class="avatar-edit">
            </div>
            <div class="avatar-preview">
              <div id="imagePreview" class="image-preview"  style="background-image: url();">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Description</label>
        <%= f.text_area :description, class: "form-control rounded", rows: 5%>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="col-md-12">
        <button type="submit" class="btn btn-secondary"><%= t('save') %></button>
      </div>
    </div>
  </div>
</div>
<% end %>