<% @albums.each do |a| %>
  <div class="col-md-4">
    <figure class="snip1577">
      <%= image_tag("#{a.photos.first.path.thumb.url}", class: "card-img h-100 img-fluid") %>
      <figcaption>
        <h3><%= a.album_title %></h3>
        <h4 class="text-justify"><%= a.description %></h4>
        <h5 class="pt-2">
          <span class="float-left">
            <i class="fas fa-thumbs-up"></i>
          </span>
          <span class="float-right">
            <i class="fas fa-clock"></i>
            <%= a.created_at.to_formatted_s(:long_ordinal) %>
          </span>
        </h5>
      </figcaption>
      <a href="#" id="open-modal" data-toggle="modal" data-target="#exampleModalCenter<%= a.id %>"></a>
    </figure>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter<%= a.id %>" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <!-- Carousel -->
            <div class="row">
              <div class="col-md-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <% a.photos.each_with_index do |p, index| %>
                    <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" class="active"></li>
                    <% end %>
                  </ol>
                  <div class="carousel-inner">
                    <% a.photos.each_with_index do |p, index| %>
                    <div class="carousel-item">
                      <%= image_tag("#{p.path.url}", class: "d-block w-100", alt: "First slide") %>
                    </div>
                    <% end %>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="col-md-12 text-center">
                <p class="display-4"><%= a.album_title %></p>
                <p class="text-justify"><%= a.description %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>