<section class="photo-album">
  <div class="container mt-5">
    <div class="start text-center">
        <h3 class="facebook-color">
            Users Management
        </h3>
    </div>
    <div class="row mt-4">
      <table class="table ">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col"><%= t('first_name')%></th>
            <th scope="col"><%= t('last_name')%></th>
            <th scope="col"><%= t('email')%></th>
            <th scope="col"><%= t('last_login')%></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each_with_index do |user, index|%>
            <tr>
              <th scope="row"><%= index + 1 %></th>
              <td><%= user.first_name%></td>
              <td><%= user.last_name%></td>
              <td><%= user.email%></td>
              <td><%= user.last_sign_in_at %></td>
              <td><%= link_to t('edit'), admin_edit_user_path(user.id), class:"btn btn-secondary btn-block btn-sm"%></td>
              <td>
                <%= link_to t('Delete'), admin_delete_user_path(user.id), class:"btn btn-danger btn-block btn-sm", data: {confirm: t("are_you_sure")}, method: "DELETE"%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>