<!DOCTYPE html>
<html>

<head>
  <title>Fotobook</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>

<body>
  <%= render 'shared/navbar' %>
    <div class="row no-gutters">
      <div class="col-12 col-md-12 col-lg-2 col-xl-2">
        <%= render 'shared/sidebar'%>
      </div>
      <div class="col-12 col-md-12 col-lg-10 col-xl-9">
        <% if flash.any? %>
          <% flash.each do |key, value| %>
              <% if key.eql?('notice') %>
                <div class="alert alert-success w-50 container mt-5"><%= value %></div>
              <% elsif key.eql?('alert') %>
                <div class="alert alert-danger w-50 container mt-5"><%= value %></div>
              <% else %>
                <div class="alert alert-<%= key %> w-50 container mt-5"><%= value %></div>
              <% end %>
          <% end %>
        <% end %>
        <%= yield %>
      </div>
    </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
